<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 数据库的字段如果有下划线，会把下划线去掉，并且第一个字母变大写 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
</configuration>