
<div class=main-category>
	<div class="main-bg">
		<div class="main-bg-item "
			style="background-image: url('./res/i/c1.jpg');">
			<div class="main-title-1"></div>
		</div>

		<div class="main-bg-item "
			style="background-image: url('./res/i/c2.jpg');">
			<div class="main-title-2"></div>
		</div>

		<div class="main-bg-item "
			style="background-image: url('./res/i/c3.jpg');">
			<div class="main-title-3"></div>
		</div>
	</div>

	<div class="f-nav-box">
		<div class="bg-nav">
			<a class="cur"></a> <a></a> <a></a>
		</div>
	</div>

	<div class="main-category-menu">
		<div class="category" c-id="a">
			<a><div class="group">数据开发</div></a>
		</div>

		<div class="category" c-id="b">
			<a><div class="group">移动开发</div></a>
		</div>

		<div class="category" c-id="c">
			<a><div class="group">后端开发</div></a>
		</div>

		<div class="category" c-id="d">
			<a><div class="group">数据库</div></a>
		</div>

		<div class="category" c-id="e">
			<a><div class="group">运维&测试</div></a>
		</div>

		<div class="category" c-id="f">
			<a><div class="group">UI设计</div></a>
		</div>
	</div>

	<div class="main-category-submenu-content" id="a">AAAAAAAAAA</div>

	<div class="main-category-submenu-content" id="b">BBBBBBBBBBBB</div>

	<div class="main-category-submenu-content" id="c">CCCCCCCCCCCC</div>

	<div class="main-category-submenu-content" id="d">
		DDDDDDDDDDDDDD</div>

	<div class="main-category-submenu-content" id="e">EEEEEEEEE</div>

	<div class="main-category-submenu-content" id="f">FFFFFFFFFF</div>

</div>
